body {
  margin: 100px;
}

#book-list {
  margin: 10px auto;
  width: 500px;
  border: 1px black solid;
  padding: 0;
}

.main-heading-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.single-book-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.remove-btn {
  margin: 10px;
  width: 100px;
  height: 2rem;
}

.coloured-container {
  background-color: rgb(185, 185, 185);
}

.input-form {
  margin: 20px auto;
  width: 350px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.text-input {
  height: 18px;
}

.add-button {
  margin-top: 15px;
  width: 4rem;
  align-self: flex-end;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(36, 35, 35);
  padding: 0 5px;
}

.nav-list-buttons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}

.individual-list-buttons {
  margin: 0 20px;
  padding-right: 30px;
  border-right: 1px solid black;
}

.individual-list-buttons-last {
  margin: 0 20px;
  padding-right: 30px;
}

footer {
  border: 2px solid black;
  height: 1.8rem;
  text-align: center;
  padding-top: 5px;

  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 90%;
}

.nav-active-class {
  color: rgb(45, 54, 185);
}

.main-nav a, a:hover, a:focus, a:active {
  list-style: none;
  text-decoration: none;
}

.contact-section {
  margin: 10px auto;
  width: 500px;
}