body {
  margin: 100px;
}

#book-list {
  margin: 10px auto;
  width: 500px;
  border: 1px black solid;
  padding: 0;
}

.main-heading-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.single-book-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.remove-btn {
  margin: 10px;
  width: 100px;
  height: 2rem;
}

.coloured-container {
  background-color: rgb(185, 185, 185);
}

.input-form {
  margin: 20px auto;
  width: 350px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.text-input {
  height: 18px;  
}

.add-button {
  margin-top: 15px;
  width: 4rem;
  align-self: flex-end;
}